.wrapper
  = render "layouts/header"

  #carousel-2.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-2"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-2"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-2"}
    .carousel-inner
      .carousel-item.active
        = image_tag('first-slide.jpg', class: "d-block w-100", alt: "First slide")
      .carousel-item
        = image_tag('second-slide.jpg', class: "d-block w-100", alt: "Second slide")
      .carousel-item
        = image_tag('third-slide.jpg', class: "d-block w-100", alt: "Third slide")
    %a.carousel-control-prev{"data-slide" => "prev", href: "#carousel-2", role: "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", href: "#carousel-2", role: "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next

  .about
    .about__inner
      %p AnimeSpotとは？
      %p あなたの好きな聖地を登録して、見ることのできるサイトです。気に入った聖地はお気に入りに登録していつでも見ることができます。

  .row
    .col-lg-4
      %svg.bd-placeholder-img.rounded-circle{"aria-label" => "Placeholder: 140x140", :focusable => "false", :height => "140", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "140", :xmlns => "http://www.w3.org/2000/svg"}
        %title Placeholder
        %rect{:fill => "#777", :height => "100%", :width => "100%"}
        %text{:dy => ".3em", :fill => "#777", :x => "50%", :y => "50%"} 140x140
      %h2 Heading
      %p 登録された聖地のある場所が地図で分かります。
      %p
        %a.btn.btn-secondary{:href => "#", :role => "button"} View details »
    .col-lg-4
      %svg.bd-placeholder-img.rounded-circle{"aria-label" => "Placeholder: 140x140", :focusable => "false", :height => "140", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "140", :xmlns => "http://www.w3.org/2000/svg"}
        %title Placeholder
        %rect{:fill => "#777", :height => "100%", :width => "100%"}
        %text{:dy => ".3em", :fill => "#777", :x => "50%", :y => "50%"} 140x140
      %h2 Heading
      %p 自由にコメントをすることができます。
      %p
        %a.btn.btn-secondary{:href => "#", :role => "button"} View details »
    .col-lg-4
      %svg.bd-placeholder-img.rounded-circle{"aria-label" => "Placeholder: 140x140", :focusable => "false", :height => "140", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "140", :xmlns => "http://www.w3.org/2000/svg"}
        %title Placeholder
        %rect{:fill => "#777", :height => "100%", :width => "100%"}
        %text{:dy => ".3em", :fill => "#777", :x => "50%", :y => "50%"} 140x140
      %h2 Heading
      %p 好きな聖地はお気に入りに登録できます。
      %p
        %a.btn.btn-secondary{:href => "#", :role => "button"} View details »

  = render 'layouts/footer'
